{
  "extends": [
    "@nyxb"
  ],
  "rules": {
    "@next/next/no-html-link-for-pages": 0,
    "import/no-anonymous-default-export": 0,
    "n/prefer-global/buffer": 0,
    "@typescript-eslint/no-unused-vars": 0
  },
  "settings": {
    "react": {
      "version": "16.0"
    }
  }
}
